header {
    height: 180px;
    background-color: #252424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    color: rgb(142, 150, 174);

}

.nav .nav-list {
    display: flex;
    gap: 80px;

}

.nav .nav-list :hover {
    transform: scale(1.2);
}

.nav .nav-list li {
    color: rgb(142, 150, 174);
    font-size: 20px;

}
.drop {
    position: relative;
    display: inline-block;
}

.drop button {
    cursor: pointer;
    color: rgb(142, 150, 174);
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.drop .content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.drop:hover .content {
    display: block;
}

.drop .hov {
    font-size: 16px;
    padding: 10px;
    color: rgb(142, 150, 174);
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.drop .hov:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 51, 51);
}

.sect {
    margin-top: 60px;
}

.name {
    font-family: Rubik Mono One;
    font-size: 30px;
    text-shadow: 2px 3px 4px #252424;
    color: rgb(142, 150, 174);
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sect-2 {
    margin-top: 40px;
    padding: 0 10px;
    height: 400px;
    background-color: #252424;
    border-radius: 30px 40px 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;

}

.title {
    font-size: 40px;
    color: rgb(142, 150, 174);
}

.paragrap {
    font-size: 25px;
    color: rgb(142, 150, 174);
}

.logos {
    display: flex;


}

.profiles {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}

.profiles .pic-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name1 {
    margin-top: 16px;
    font-family: inter;
    font-size: 18px;
    color: rgba(40, 40, 40, 1);
    line-height: 30px;
}

.job {
    font-family: inter;
    font-size: 20px;
    color: rgba(62, 62, 89, 1);
    line-height: 22px;
    margin-top: 4px;
}

.foot {
    margin-top: 40px;
    height: 200px;
    background-color: #252424;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info {
    font-size: 25px;
    color: ivory;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.height {
    font-size: 20px;
    color: floralwhite;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black {
    font-size: 40px;
}

.logos {
    display: flex;
    gap: 20px;
}