<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
    <header>
        <div class="absolute">

        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="/main/page">HOME</a></li>
                <li><a href="/main/info">INFO</a></li>
                <li><a href="/main/students">STUDENTS</a></li>
                <div class="drop">
                    <button>COURSES</button>
                    <div class="content">
                        <a class="hov" href="">course-1</a>
                        <a class="hov" href="#">course-2</a>
                        <a class="hov" href="#">course-3</a>
                        <a class="hov" href="#">course-4</a>
                        <a class="hov" href="#">course-5</a>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="logo">
            <h1>UNIVERSITY MT</h1>
            <img class="pic" src="/assets/logos-icons/logo.svg" alt="">
        </div>
    </header>
    <main>
        <section class="profiles">
            <article class="pic-1">
                <img src="/assets/pictures/image4.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Jocelyn Schleifer</span>
                    <span class="job">Software Engineer</span>

                </div>
            </article>
            <article class="pic-1">
                <img src="/assets/pictures/pic3.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Tom Schleifer</span>
                    <span class="job">Developer</span>

                </div>
            </article>
            <article class="pic-1">
                <img src="/assets/pictures/pic4.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Alex Deniro</span>
                    <span class="job">Designer</span>
                </div>
            </article>
        </section>
        <section class="profiles">
            <article class="pic-1">
                <img src="/assets/pictures/pic1.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Nina Toleifer</span>
                    <span class="job">Engineer</span>

                </div>
            </article>
            <article class="pic-1">
                <img src="/assets/pictures/pic2.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Magda Robbie</span>
                    <span class="job">Developer</span>

                </div>
            </article>
            <article class="pic-1">
                <img src="/assets/pictures/image1.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Venus Deniro</span>
                    <span class="job">Designer</span>
                </div>
            </article>
        </section>
        <section class="profiles">
            <article class="pic-1">
                <img src="/assets/pictures/image2.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Thomas Shmaixelr</span>
                    <span class="job">Software Engineer</span>

                </div>
            </article>
            <article class="pic-1">
                <img src="/assets/pictures/image3.png" alt="engineer">
                <div class="bio">
                    <span class="name1">Ryan Ronald</span>
                    <span class="job">Developer</span>

                </div>
            </article>

        </section>
    </main>
    <footer>
        <div class="foot">
            <div class="logos">
                <a href="https://www.facebook.com/profile.php?id=61553676522946"> <img
                        src="/assets/logos-icons/facebook-messenger.svg" alt="mesenger"></a>
                <a href="https://www.instagram.com/alioshacr7/"> <img src="/assets/logos-icons/instagram.svg"
                        alt="instagram"></a>
            </div>
            <div class="info">
                <span class="coppy">&copy; copyright Lorem ipsum dolor sit amet </span>
                <address><span style="color: black;"> mail:</span><a
                        href="mailto:webmaster@example.com">unimanagmant5@gmail.com</a></address>
                <span><span style="color: black;"> mobile:</span><a href="tel:+995599172035">599172035</a></span>
            </div>
        </div>
    </footer>
</body>

</html>